{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    <div class="author__links-inline">
      {% if author.location %}
        <span>{% include icon.html name="map-pin" %} {{ author.location }}</span>
      {% endif %}
      {% if author.email %}
        <span><a href="mailto:{{ author.email }}">{% include icon.html name="mail" %} {{ author.email }}</a></span>
      {% endif %}
      {% if author.github %}
        <span><a href="https://github.com/{{ author.github }}">{% include icon.html name="github" %} GitHub</a></span>
      {% endif %}
      {% if author.googlescholar %}
        <span><a href="{{ author.googlescholar }}">{% include icon.html name="graduation-cap" %} Google Scholar</a></span>
      {% endif %}
      {% if author.weibo %}
        <span><a href="https://www.weibo.com/{{ author.weibo }}"><i class="fab fa-fw fa-weibo"></i> Weibo</a></span>
      {% endif %}
      {% if author.linkedin %}
        <span><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin"></i> LinkedIn</a></span>
      {% endif %}
    </div>
  </div>

</div>
