{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    <div class="author__links-inline">
      {% if author.location %}
        <span><i class="fas fa-fw fa-map-marker-alt"></i> {{ author.location }}</span>
      {% endif %}
      {% if author.email %}
        <span><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope"></i> {{ author.email }}</a></span>
      {% endif %}
      {% if author.github %}
        <span><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github"></i> GitHub</a></span>
      {% endif %}
      {% if author.googlescholar %}
        <span><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></span>
      {% endif %}
      {% if author.weibo %}
        <span><a href="https://www.weibo.com/{{ author.weibo }}"><i class="fab fa-fw fa-weibo"></i> Weibo</a></span>
      {% endif %}
      {% if author.linkedin %}
        <span><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin"></i> LinkedIn</a></span>
      {% endif %}
    </div>
  </div>

</div>
